@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

.home-top-banner {
  background: url(https://images.unsplash.com/photo-1512909006721-3d6018887383?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5d296404a6f050d177dcfe698bc2cd2f&auto=format&fit=crop&w=600&q=60)
    no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #fff;
}
a.nav-link {
  color: #fff;
  font-weight: 700;
}

.lead {
  font-size: 1.4em;
}

footer.page-footer {
  background: #212529;
  color: #fff;
}
