.loginForm {
  max-width: 650px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
.registerForm {
  max-width: 650px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
.requireFrmFieldMark {
  font-size: 18px;
  font-weight: 700;
  color: red;
  margin: 2px;
}
